* {
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
 font-family: 'Lora', sans-serif;
}

/* Навигация */

nav ul {
  position: fixed;
  z-index: 1000;

  display: flex;

  width: 100vw;
  height: 64px;
  padding: 0 24px;

  color: #fff;
  background-color: #000;

  font-family: 'Alegreya Sans', sans-serif;

  justify-content: flex-start;
  align-items: center;
}

nav ul li:first-of-type {
  padding: 0 16px 0 0;

  font-weight: bold;
}

nav ul li {
  padding: 0 16px;

  color: #f7f7f7;
}

nav ul li a {
  color: #fff;
  border-bottom: .2px solid;
}

nav ul li a:hover {
  color: #b2b2b2;
}

.active {
  color: #000;
  background-color: #fff;
}

h1 {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 64px;
  font-weight: 900;
  line-height: 70px;
}

h2 {
  margin: 0;

  font-family: 'Alegreya Sans', sans-serif;
  font-size: 32px;
  font-weight: 400;
  font-style: italic;
  line-height: 36px;
}

h3 {
  margin: 64px 0 6px;

  font-family: 'Alegreya Sans', sans-serif;
  font-size: 32px;
  font-weight: 800;
  line-height: 36px;
}

p, span, li {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}

p {
  width: 80%;
  margin: 0 0 16px;
}

a {
  cursor: pointer;
  text-decoration: none;

  color: #0097FD;
}

a:hover {
  color: #0077DB;
}

a:hover {
  color: #0077DB;
}

/* Изображение */

.my-photo {
  position: fixed;

  width: 50vw;
  height: 100vh;

  background-image: url("../img/my-photo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


/* Резюме */

.right-side {
  float: right;

  width: 50vw;
  padding: 64px 64px 88px;
}

.contacts {
  display: flex;
}

.social-media {
  display: flex;

  margin-right: 24px;

  align-items: center;
}

.social-media:last-child {
  margin-right: 0;
}

.social-media-logo {
  width: 24px;
  height: 24px;
  margin-right: 6px;
}


/* Таблица */

table {
  text-align: left;

  border-collapse: collapse;

  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

thead {
  border-bottom: .5px solid rgba(0, 0, 0, .25);

  font-weight: 700;
}

​tr {
  padding-bottom: 12px
}

th {
  padding: 0 12px 0 0;

  vertical-align: bottom;
}


td {
  padding: 16px 16px 0 0;

  vertical-align: top;
}

/* Страница портфолио */
​
